* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: macondo, cursive;
  text-shadow: 2px 2px black;
  font-size: large;
  font-weight: 800;
  color: white;
}

.header {
  height: 70px;
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: x-large;
}

.trybewarts-header-logo {
  background-color: rgb(50, 167, 145);
  width: 60px;
}

header form {
  margin: 15px;
  padding: 10px;
  display: flex;
  width: 40%;
  justify-content: space-between;
}

header form input {
  width: 40%;
  padding: 8px;
  border-radius: 5px;
}

form button {
  padding: 07px;
  border-radius: 5px;
}

#entrar:hover {
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main {
  background-image: url('http://127.0.0.1:5500/images/shpphft_sdws.1280.webp');
  background-size: cover;
  display: flex;
  justify-content: space-around;
}

main form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

main img {
  height: 500px;
}

#evaluation-form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 10px;
}

#evaluation-form-inputs input {
  width: 45%;
  padding: 8px;
  border-radius: 5px;
  background: transparent;
  border: 2px solid black;
}

#evaluation-form-inputs div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.label-house {
  width: 47%;
  display: flex;
  justify-content: flex-start;
  font-size: x-large;
  font-weight: 700;
}

#house {
  width: 90%;
  margin-left: 5px;
  border: 2px solid black;
  border-radius: 10px;
  background: transparent;
  font-size: large;
  color: white;
  background-color: gray;
}

.form-block {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  font-size: large;
  margin-bottom: 15px;
}

.form-block p {
  padding: 10px;
}

.family {
  display: flex;
  flex-direction: column;
}

.family-inputs {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.wantLearn {
  display: flex;
  flex-direction: column;
}

.three-options {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.three-options label {
  margin-top: 10px;
  margin-right: 10px;
}

.section-rate {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}

.text {
  display: flex;
  flex-direction: column;
}

textarea {
  padding: 5px;
  color: black;
  font-size: x-large;
  font-weight: 800;
  opacity: 0.3;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 15px;
}

#btn-submit {
  margin: 30px;
  display: flex;
  justify-content: center;
}

#submit-btn:hover {
  border: 2px solid black;
  color: black;
  font-size: large;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
}
