* {
  margin: 0;
  padding: 0;
  border: 0;

}

body {
  font-family: macondo, cursive;
}

.header {
  height: 70px;
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trybewarts-header-logo {
  background-color: rgb(50, 167, 145);
  width: 60px;
}

header form {
  margin: 15px;
  padding: 10px;
  display: flex;
  width: 40%;
  justify-content: space-between;
}

#trybewarts-header-title {
  color: white;
}

#entrar:hover {
  cursor: pointer;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

form input {
  width: 40%;
  padding: 8px;
  border-radius: 5px;
}

form button {
  padding: 07px;
  border-radius: 5px;
}

main {
  display: flex;
  background-image: url('http://127.0.0.1:5500/images/shpphft_sdws.1280.webp');
}

#evaluation-form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.first-block {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.second-block {
  padding: 5px;
  display: flex;
  justify-content: space-around;
  text-shadow: 1px 1px black;
}

.second-block label {
  font-size: x-large;
  font-weight: 700;
  color: whitesmoke;
}

#house {
  width: 34%;
  margin-left: -40px;
  border: 2px solid black;
  border-radius: 10px;
  background: transparent;
  font-size: large;
  color: white;
  background-color: gray;
}

.first-block input {
  background: transparent;
  border: 2px solid black;
}

.second-block input {
  background: transparent;
  border: 2px solid black;
}

main form {
  color: white;
  opacity: 0.7;
  display: flex;
  width: 675px;
  flex-direction: column;
}

main img {
  height: 500px;
}

#family {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: transparent;
  font-size: medium;
  font-weight: 900;
  text-shadow: 1px 1px khaki;
  color: black;
}

.family-inputs input {
  margin-right: -25px;
}

/* #frontend #backend #fullStack {
  font-size: large;
  text-shadow: 2px 2px khaki;
  color: black;
} */

#label-family {
  font-size: x-large;
  padding: 2px;
}

.form-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.wantLearn {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-shadow: 2px 2px khaki;
  background: transparent;
  font-size: 19px;
  color: black;
  text-align: center;
}

.learn-content {
  border: 1px solid blue;
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
}

.wantLearn-block {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: flex-start;
}

.wantLearn-block div {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 30%;
}

#label-rate {
  text-shadow: 2px 2px khaki;
  background: transparent;
  color: black;
  font-size: 19px;
}

.textarea {
  text-shadow: 2px 2px khaki;
  background: transparent;
  color: black;
  font-size: large;
  padding: 10px;
}

#label-infos {
  text-shadow: 2px 2px khaki;
  background: transparent;
  color: black;
  font-size: large;
  margin-left: -120px;
}

#submit-btn {
  background: transparent;
  border: 2px solid black;
  color: whitesmoke;
  background-color: grey;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
}

/* pull */

/* #textearea {
  background: transparent;
} */

/* cores do harry potter
#1a472a,#2a623d,#5d5d5d,#aaaaaa,#000000 */
